<body>
 <!-- Navigation Bar -->
 {{> navbar/navbar-logged-in}}
 <!-- Chart Section -->
 <section class="bg-grey">
  <div class="container">
   <div class="row">
    <div class="col-md-12 text-center topBotPad">
     <h4 class="font-weight-light">
      Most Popular Movies
     </h4>
     <p class="font-weight-light font-italic">
      by average review score
     </p>
     <!-- Chart -->
     <canvas id="dashboardChart" width="400" height="120"></canvas>
    </div>
   </div>
  </div>
 </section>
 <!-- Recent Reviews Section -->
 <section>
  <div class="container">
   <div class="row spacer"></div>
   <!-- START OF LOOP THROUGH REVIEW DATA -->
   {{#each reviews}}
   {{> reviews/review-block}}
   {{/each}}
   <!-- END OF LOOP THROUGH REVIEW DATA -->
  </div>
 </section>

 <!-- Hidden HTML elements with Handlebars values -->

 <input type="hidden" id="movie1Title" value="{{movies.0.title}}">
 <input type="hidden" id="movie1Score" value="{{movies.0.avgScore}}">

 <input type="hidden" id="movie2Title" value="{{movies.1.title}}">
 <input type="hidden" id="movie2Score" value="{{movies.1.avgScore}}">

 <input type="hidden" id="movie3Title" value="{{movies.2.title}}">
 <input type="hidden" id="movie3Score" value="{{movies.2.avgScore}}">

 <input type="hidden" id="movie4Title" value="{{movies.3.title}}">
 <input type="hidden" id="movie4Score" value="{{movies.3.avgScore}}">

 <input type="hidden" id="movie5Title" value="{{movies.4.title}}">
 <input type="hidden" id="movie5Score" value="{{movies.4.avgScore}}">

 <!-- Script for Chart.JS -->
 <script type="text/javascript">

  // Get handlebars data from hidden inputs above

  let labelsArr = [];
  for (let i = 1; i < 6; i++) {
   labelsArr.push($(`#movie${i}Title`).val());
  }

  let scoresArr = [];
  for (let i = 1; i < 6; i++) {
   scoresArr.push($(`#movie${i}Score`).val());
  }

  // Create and style chart

  const ctx = document.getElementById("dashboardChart").getContext("2d");
  const dashboardChart = new Chart(ctx, {
   type: "horizontalBar",
   data: {
    labels: labelsArr,
    datasets: [
     {
      label: "Average Score",
      data: scoresArr,
      backgroundColor: [
       "rgba(255, 99, 132, 0.6)",
       "rgba(54, 162, 235, 0.6)",
       "rgba(255, 206, 86, 0.6)",
       "rgba(91, 155, 105, 0.6)",
       "rgba(153, 102, 255, 0.6)"
      ],
      borderColor: [
       "rgba(255, 99, 132, 1)",
       "rgba(54, 162, 235, 1)",
       "rgba(255, 206, 86, 1)",
       "rgba(91, 155, 105, 1)",
       "rgba(153, 102, 255, 1)"
      ],
      borderWidth: 1
     }
    ]
   },
   options: {
    legend: {
     display: false
    },
    scales: {
     xAxes: [
      {
       ticks: {
        beginAtZero: true,
        suggestedMax: 10
       }
      }
     ],
     yAxes: [
      {
       gridLines: {
        display: false
       }
      }
     ]
    }
   }
  });

 </script>
 <script type="text/javascript" src="/js/members.js"></script>
</body>