<body>
 <!-- Navigation Bar -->
 {{> navbar/navbar-logged-in}}
 <!-- User Info Section -->
 <section class="bg-grey">
  <div class="container">
   <div class="row">
    <div class="col-md-12 text-center topBotPad">
     <h1>
      <!-- Insert username below -->
      {{username}}
     </h1>
     <p>
      <!-- Insert review count below -->
      {{reviewCount}} REVIEWS POSTED
      <br />
      <!-- Insert following count below -->
      FOLLOWING {{followingCount}} USERS
     </p>
     <div id="followStatus">
      {{#with userStatus}}
        {{#if followed}}
        <p class="font-weight-bold">
        You are following this user!
        </p>
        {{/if}}
        {{#if notFollowed}}
        <button class="btn btn-dark" id="createFollow">Follow</button>
        {{/if}}
      {{/with}}
     </div>
    </div>
   </div>
  </div>
 </section>
 <!-- User's Reviews Section -->
 <section>
  <div class="container">
   <div class="row spacer"></div>
   <!-- START OF LOOP THROUGH REVIEW DATA -->
   {{#each reviews}}
   {{> reviews/review-block}}
   {{/each}}
   <!-- END OF LOOP THROUGH REVIEW DATA -->
  </div>
 </section>
 <!--Hidden inputs with values for Post route-->
 <input type="hidden" id="profileUserId" value="{{profileUserId}}">
 <input type="hidden" id="loginUserId" value="{{loginUserId}}">

 <script type="text/javascript" src="/js/members.js"></script>
 <script type="text/javascript" src="/js/user.js"></script>
 <script type="text/javascript" src="/js/navbar.js"></script>

</body>